
@import url(https://fonts.googleapis.com/css?family=Kalam:400,300,700);

body {
/*    background-color: rgba(0, 0, 0, 0.6);*/
    background-color: transparent;
    height: 100%;
        width: 100%;
}
html {
    
    height: 100%;
        width: 100%;
}

.navbar-inverse  {
    background-color: #0D7F6B;
    border-color: #0D7F6B;
}
/*

.navbar-brand {
  
    color: #66ffe3;
}
*/

.navbar-inverse .navbar-brand {
    font-family: 'Kalam', cursive;  
    color: #66ffe3;
}

.navbar-inverse .navbar-nav>li>a {
    color: #66ffe3;
}

.navbar-inverse .navbar-nav>li>a {
    color: #66ffe3;
    font-family: 'Kalam', cursive;  
}

a {
    
    color: #66ffe3;
    text-decoration: none;
}

.navbar .navbar-nav > li > a:hover, .navba .navbar-nav > li > a:focus {
    background-color: #14CCaa;
    color: #0D7F6B;

}

h1 {
    color: #66ffe3;
    font-family: 'Kalam', cursive;  
}

.crfn {
    background-color: rgba(13, 127, 107, 0.9);
    border-radius: 10px;
    padding: 10px;
    margin-top:150px;
    margin-bottom:50px;
}

label {
    color: #66ffe3;
    font-family: 'Kalam', cursive;  
    
}

#map {
/*    margin-top:50px;*/
/*    min-height: 950px;*/
    width: 100%;
    height: 100%;
      }


.container-fluid {
    margin-top:50px;
    height: 100% !important;
    width: 100% !important;
}

p {
    color: #66ffe3;
    font-family: 'Kalam', cursive; 
    font-size: 20px;
}

#specialtable td {
    color: #66ffe3;
}

#specialtable th {
    color: #66ffe3;
}


