{% extends "tophalf.html" %}
{% block midblock %}
<!-- Put your page content here! -->
    <div class="container">
      <div class="row">
          <div class="col-md-12 crfn">
              
        <h1>What We want to achieve</h1>

              <br />
              
              <p>
              We're hoping to help people find the best internet at the lowest rental price. Unfortunately we only managed to find the best internet!
              Type your address and the radius of search to find <a href="./">your</a> results.
              </p>
              
              <h1>Description</h1>
              <p>This government data set rates the quality of the internet based on what service is provided and the speed. There are 5 categories ranging from A through to E. We have highlighted this using the following icons:</p>
              
              <table class="table" id="specialtable">
                  <tr><th>Quality</th><th>Icon</th></tr>
                  <tr><td>A</td><td><img src="./static/images/20upwards.png" alt="A"></td></tr>
                  <tr><td>B</td><td><img src="./static/images/15to20.png" alt="B"></td></tr>
                  <tr><td>C</td><td><img src="./static/images/10to15.png" alt="C"></td></tr>
                  <tr><td>D</td><td><img src="./static/images/5to10.png" alt="D"></td></tr>
                  <tr><td>E</td><td><img src="./static/images/0.png" alt="E"></td></tr>
              
              
              </table>
              
              <p> The data is based on the physical (copper or fibre) connection to the premise as well as wireless quality.</p>
              
              <h1>Datasets:</h1>
              <a href="https://www.mybroadband.communications.gov.au">Gov - Broadband Site</a><br />
              <a href="https://data.gov.au/dataset/mybroadband">https://data.gov.au/dataset/mybroadband</a><br />
              <a href="https://www.data.gov.au/dataset/mybroadband-centroid-points">https://www.data.gov.au/dataset/mybroadband-centroid-points</a><br />
              
          </div>
      </div>
    </div>
{% endblock %}