{% extends "tophalf.html" %}
{% block midblock %}
<!-- Put your page content here! -->
    <div class="container">
      <div class="row">
          <div class="alert alert-warning" role="alert">There Has Been An ERROR!</div>
      </div>
    </div>
{% endblock %}