{% extends "tophalf.html" %}
{% block midblock %}
<!-- Put your page content here! -->
<!--
    <div class="container-fluid">
      <div class="row" >
-->
          
          <div style="width:100%; height:100%;">



          <div id="map"></div>
              
              </div>
<!--
      </div>
    </div>
-->


{% endblock %}



{% block wherejsisat %}
<!-- Where can i put this map stuff -->

    <script>
        
        function initMap() {
        var myLatLng = {lat: {{ locationdata.get('lat') }}, lng: {{ locationdata.get('long') }}};
        var latlngA = [{{ locationdata.get('lat') }}, {{ locationdata.get('long') }}]

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        
        new google.maps.Marker({
          position: {lat: latlngA[0], lng: latlngA[1]},
          map: map,
          title: 'You!',
        });
        

        
        function addMarker(infoarray) {
            var mbps = infoarray[2].toString().concat("Mbps");
            var quality = infoarray[3];
            var image;
            
            var contentString = "<table>"+
    "<tr>"+"<th>"+"QUALITY"+"</th>"+"<td>"+infoarray[3]+"</td>"+"</tr>"+
    "<tr>"+"<th>"+"QUALITY FTTP RATING"+"</th>"+"<td>"+infoarray[4]+"</td>"+"</tr>"+
    "<tr>"+"<th>"+"QUALITY HFC RATING"+"</th>"+"<td>"+infoarray[5]+"</td>"+"</tr>"+
    "<tr>"+"<th>"+"QUALITY FTTN RATING"+"</th>"+"<td>"+infoarray[6]+"</td>"+"</tr>"+
    "<tr>"+"<th>"+"QUALITY NBNW RATING"+"</th>"+"<td>"+infoarray[7]+"</td>"+"</tr>"+
    "<tr>"+"<th>"+"QUALITY ADSL RATING"+"</th>"+"<td>"+infoarray[8]+"</td>"+"</tr>"+
    "<tr>"+"<th>"+"ADSL SPEED MEDIAN"+"</th>"+"<td>"+infoarray[9]+"</td>"+"</tr>"+
    "<tr>"+"<th>"+"AVAILABILITY MOBILE RATING"+"</th>"+"<td>"+infoarray[10]+"</td>"+"</tr>"+
    "<tr>"+"<th>"+"QUALITY MOBILE RATING"+"</th>"+"<td>"+infoarray[11]+"</td>"+"</tr>"+
"</table>";

                
                
                

            
//            if (infoarray[2] > 0 && infoarray[2] < 5) {
//                image = "./static/images/0to5.png"
//            }
            var label;
            if (infoarray[3] == "D") {
                image = "./static/images/5to10.png";
                label = "D";
            }
            if (infoarray[3] == "C") {
                image = "./static/images/10to15.png";
                label = "C";
            }
            if (infoarray[3] == "B") {
                image = "./static/images/15to20.png";
                label = "B";
            }
            if (infoarray[3] == "A") {
                image = "./static/images/20upwards.png" ;
                label = "A";
            }
            if (infoarray[3] == "E") {
                image = "./static/images/0.png";
                label = "E";
            }

            var marker = new google.maps.Marker({
              position: {lat: infoarray[0], lng: infoarray[1]},
              map: map,
              title: quality,
                icon: image,
                
                
            });
            
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            
            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
        }

        
        
        

        {% for item in datapoints %}
            addMarker([{{ item[21]}}, {{item[20]}}, {{item[17]}},  '{{ item[11]|safe  }}', 
                      '{{item[12]|safe}}', '{{item[13]|safe}}', '{{item[14]|safe}}',
                      '{{item[15]|safe}}', '{{item[16]|safe}}', '{{item[17]|safe}}',
                      '{{item[18]|safe}}', '{{item[19]|safe}}']);



         {% endfor %}


        
      }
        
       


    </script>



<script async defer
        src ="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuZBySeNkIRh-Z6oeCn9SzZdyHYH0Urtk&callback=initMap">
    </script>

{% endblock %}