{% extends "tophalf.html" %}
{% block midblock %}
<!-- Put your page content here! -->
    <div class="container">
      <div class="row">
          <div class="col-md-12 crfn">
              
        <h1>Find Fast Internet in the Cheapest Places (Australia)</h1>

              <br />
              
              <form action="./findcheap" method="post">
              <div class="form-group">
                <label for="streetaddress">Street Address</label>
                <input type="text" class="form-control" id="streetaddress" name="streetaddress" placeholder="e.g 123 Queen st, Brisbane">
              </div>
              <div class="form-group">
                  <label for="searchradius">Search Radius (max 15km)</label>
                <input type="text" class="form-control" id="searchradius" name="searchradius" placeholder="e.g 15">
              </div>
              
              
                
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
              
          </div>
      </div>
    </div>
{% endblock %}